{% raw %}<footer class="footer mt-auto py-3 bg-body-tertiary border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h5>{% endraw %}{{ cookiecutter.project_name }}{% raw %}</h5>
                <small class="text-body-secondary">
                    &copy; {% now "Y" %} {% endraw %}{{ cookiecutter.author_name }}{% raw %}
                </small>
            </div>
            
            <div class="col-6 col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                    <li><a href="/privacy/" class="text-decoration-none">Privacy Policy</a></li>
                    <li><a href="/terms/" class="text-decoration-none">Terms of Service</a></li>
                </ul>
            </div>
            
            <div class="col-6 col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:{% endraw %}{{ cookiecutter.author_email }}{% raw %}" class="text-decoration-none">Email Us</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}" class="text-decoration-none">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>{% endraw %}